<div class="blog-container">
  <div class="blog">
    <h1>The place that made my childhood happier and more memorable</h1>
    <p class="date">Jun 6, 2023</p>
    <button class="tag">Childhood</button>
    <p>
      The mother's house is the place that made my childhood happier and more
      memorable.
    </p>
    <form action="/childhood" method="POST">
      <button type="submit" class="read">Read more</button>
    </form>
  </div>
  <div class="blog">
    <h1>Friendship is a bonding of Love and Trust</h1>
    <p class="date">Jun 2, 2023</p>
    <button class="tag">Friendship</button>
    <p>
      Friends are those who enter our lives accidentally, but the bond is formed
      through love, support, and trustworthiness.
    </p>
    <form action="/friendship" method="POST">
      <button type="submit" class="read">Read more</button>
    </form>
  </div>
  <div class="blog">
    <h1>
      Exercise is not only for maintaining our health; it also builds a strong
      mind.
    </h1>
    <p class="date">May 29, 2023</p>
    <button class="tag">Exercise</button>
    <p>
      Each and every movement that a living being makes in the world is a type
      of exercise. This means walking, moving hands or legs all is a type of
      exercise.
    </p>
    <form action="" method="">
      <button type="submit" class="read">Read more</button>
    </form>
  </div>
  <div class="blog">
    <h1>Love is not for getting an offer</h1>
    <p class="date">May 28, 2023</p>
    <button class="tag">Parents</button>
    <p>
      Parents are the gods whom we can see, touch, talk to, and even fight with.
      All living beings are gifted because no one is there without parental
      support and love.
    </p>
    <form action="" method="">
      <button type="submit" class="read">Read more</button>
    </form>
  </div>
  <div class="blog"></div>
</div>
