<%- include('partials/header') %>
<div class="blog-containers">
  <div class="childhood-blog">
    <div class="blog-header">
      <h1>The place that made my childhood happier and more memorable</h1>
      <p class="date">Jun 6, 2023</p>
      <button class="tag">Childhood</button>
      <audio controls>
        <source src="/audio/Text-to-Speech_06-Jun-2023_00-42.mp3" type="audio/mpeg" />
      </audio>
    </div>
    <p>
      The mother's house is the place that made my childhood happier and more
      memorable. I always eagerly awaited the summer vacation to go there. My
      mother's house was situated in a secluded location. During that time, my
      grandmother, grandfather, and aunt were the members who lived in that
      house.
    </p>
    <p>
      When I went to my mother's house with my parents, my heart would be filled
      with joy. The pond, jathikathottam, guava tree, and small birds would
      eagerly await my arrival. The presence of my cousins made the vacation
      even more colorful. After school and college life, this place created
      countless cherished memories for me.
    </p>
    <p>
      As I write this blog, many beautiful incidents come flooding into my mind.
      One of them is when we would pretend to be movie characters and act out
      scenes from popular films like "Meeshamadhavan" and "Thilakkam." Memories
      of impersonating Dileep, Kavya, and Jagathy SreeKumar come rushing back.
      Reflecting on those moments brings both laughter and a tinge of sadness,
      as I realize that my beautiful childhood has come to an end.
    </p>
    <p>
      From the moment we woke up until the time we fell into bed, every minute
      was enjoyable. The taste of the breakfast prepared by my grandmother still
      lingers on my tongue. Fighting over the TV remote, playing hide and seek
      around the guava tree, and engaging in cricket matches were among the
      highlights of our days.
    </p>
    <p>
      Eating jathika, playing house, and mischievously avoiding detection from
      my grandfather are some of the nostalgic memories that fill my mind. I
      eagerly awaited my aunt's return from the office, hoping she would bring
      snacks in the evening. The simple act of sleeping on a mat with all the
      family members holds a special place in my heart.
    </p>
    <p>
      Visiting our nearest relatives' house became another favorite pastime for
      us. We affectionately referred to that place as "Kochithantte Veedu."
      Sitting together and watching TV in the cozy room, accidentally bumping
      our heads when we stood up—these are sweet memories that bring a smile to
      my face. Playing with friends and engaging in mischievous adventures are
      now cherished memories.
    </p>
    <p>
      Time passed, we grew up, they grew older, and the place underwent many
      changes. However, every summer vacation, the place and the people who
      lived there eagerly awaited our return.
    </p>
  </div>
</div>
